<html ng-app="PipesGame">
<head>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="js/modals.js"></script>
<script src="js/store.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style media="screen" type="text/css">
    .nav, .pagination, .carousel a { cursor: pointer; }
</style>
</head>
<body>
<div ng-controller="ModalCtrl">
	<img src="images/out_of_game_map.png" alt="Out of game map" usemap="#out_of_game_map">

	<map name="out_of_game_map">
		<area shape="rect" coords="0,0,70,60" ng-click="Options()" alt="Options">
		<area shape="rect" coords="85,0,130,60" ng-click="NewsFeed()" alt="News Feed">
		<area shape="rect" coords="525,0,690,60" ng-click="Leaderboard()" alt="LeaderBoard">
		<area shape="rect" coords="700,0,780,60" ng-click="Store()" alt="Store">
		<area shape="circle" coords="245,625,30" ng-click="PreGame()" alt="GamePlay">
	</map>
</div>
</body>
</html>