<!doctype html>
<html ng-app="PipesGame">
<head>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="js/modals.js"></script>
<link href="js/assets/bootstrap.css" rel="stylesheet" media="screen">
    <style media="screen" type="text/css">
        .nav, .pagination, .carousel a { cursor: pointer; }
    </style>
</head>
<body>

<div ng-controller="ModalCtrl">
    <button class="btn" ng-click="PreGame()">PreGame!</button><br />
    <button class="btn" ng-click="PostGame()">PostGame!</button>
</div>

  </body>
</html>
